.html, .body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.poem {
  color: black;
  font-family: Courier New, monospace;
  
  position: absolute;
}

/* numbers */

.zero {
  background-color: white;
}

.one {
  background-color: white;
}

.two {
  background-color: white;
}

.three {
  background-color: white;
}

.four {
  background-color: white;
}

.five {
  background-color: white;
}

.six {
  background-color: white;
}

.seven {
  background-color: white;
}

.eight {
  background-color: white;
}

.nine {
  background-color: white;
}
