.html, .body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.poem {
  color: black;
  font-family: Courier New, monospace;
  
  position: absolute;
}

.over {
  background-color: black;
}

/* numbers */

.zero {
  background-color: rgb(25, 0, 0);
}

.one {
  background-color: rgb(50, 0, 0);
}

.two {
  background-color: rgb(75, 0, 0);
}

.three {
  background-color: rgb(100, 0, 0);
}

.four {
  background-color: rgb(125, 0, 0);
}

.five {
  background-color: rgb(150, 0, 0);
}

.six {
  background-color: rgb(175, 0, 0);
}

.seven {
  background-color: rgb(200, 0, 0);
}

.eight {
  background-color: rgb(225, 0, 0);
}

.nine {
  background-color: rgb(255, 0, 0);
}
